
.page-content-exportacao{
    //width: 80%;
    padding: 1%;
    display: flex;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 54px;
    flex-direction: column;
}

.btn-container-financeiro{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:1.5em;
}