.table-generic{
    --bs-table-hover-color: inherit !important;
    --bs-table-hover-bg: inherit !important;
}

.row-pluggy{
    :hover{
        cursor: pointer !important;
        color: white !important;
    }
}

