:root {
  /* Current Theme Colors */
  --primary-color: rgb(10, 61, 112);
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
  /* Light Theme Colors */
  --primary-color-light: rgb(10, 61, 112);
  --secondary-color-light: rgb(153, 204, 51);
  --background-color-light: #fff;
  --font-color-light: rgb(10, 61, 112);
  --header-text-color-light: white;
  --modalidades-border-light: rgb(10, 61, 112);
  --table-background-light: white;
  --table-row-hover-color-light: rgb(153, 204, 51);
  --table-row-hover-bg-light: rgb(10, 61, 112);
  --header-bg-light: rgba(10,61,112,0.945);
  --calendar-cell-color-light: rgb(10, 61, 112);
  --calendar-now-color-light: rgb(153, 204, 51);
  --calendar-neighbor-color-light: #757575;
  --calendar-btn-navigation-color-light: rgb(10, 61, 112);
  --calendar-neighbor-bg-light: rgb(187, 187, 187);
  --sidebar-font-color-light: white;
  --subtitle-light: rgb(10, 61, 112);
  /* Dark Theme Colors */
  --primary-color-dark: rgb(35, 31, 32);
  --secondary-color-dark: darkgray;
  --background-color-dark: rgb(20, 20, 20);
  --font-color-dark: #d3d3d3;
  --header-text-color-dark: black;
  --modalidades-border-dark: rgb(97, 97, 97);
  --table-background-dark: rgb(20, 20, 20);
  --table-row-hover-color-dark: rgb(55, 51, 52);
  --table-row-hover-bg-dark: rgb(97, 97, 97);
  --header-bg-dark: rgba(35,31,32, 0.945);
  --calendar-cell-color-dark: rgb(97, 97, 97);
  --calendar-now-color-dark: white;
  --calendar-neighbor-color-dark: white;
  --calendar-btn-navigation-color-dark: white;
  --calendar-neighbor-bg-dark: black;
  --sidebar-font-color-dark: #d3d3d3;
  --subtitle-dark: darkgray;
  --default-font: Arial, Helvetica, sans-serif;
  --default-background: #fff;
  --default-primary: #000;
  --default-secondary: #4f4f4f;
  --default-font-app: var(--default-font);
}

.container {
  width: 100%;
  max-width: none;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  gap: 5px;
}

.export-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.btn-exportar {
  width: 80%;
  margin-top: 12px;
  /* display: flex; */
  height: 2.2em;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  background-color: white;
}

.btn-exportar:not(:first-child) {
  margin-left: 20px;
}

.btn-exportar-pdf {
  border: solid red 1px;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

.btn-exportar-pdf svg polyline,
.btn-exportar-pdf svg line,
.btn-exportar-pdf svg path {
  fill: red;
}

.btn-exportar-pdf:hover {
  background-color: red;
  color: white;
}

.btn-exportar-excel {
  border: solid green 1px;
  background-color: rgba(0, 255, 0, 0.2);
  color: green;
}

.btn-exportar-excel svg polyline,
.btn-exportar-excel svg line,
.btn-exportar-excel svg path {
  fill: green;
}

.btn-exportar-excel:hover {
  background-color: green;
  color: white;
}

@media screen and (max-width: 869px) {
  .container {
    display: inline-flex;
    width: 100%;
    text-align: center;
    flex-direction: row;
  }
  .btn-exportar {
    font-size: small;
    width: 80%;
    height: 2.6em;
  }
}/*# sourceMappingURL=GerarRelatorio.css.map */