@import '../../styles/_variables.scss';

.container{
    width: 100%;
    max-width: none;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 0;
}

.export-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}

.btn-exportar{
    width: 80%;
    margin-top: 12px;
    /* display: flex; */
    height: 2.2em;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    background-color: white;
}

.btn-exportar:not(:first-child){
    margin-left: 20px;
}

.btn-exportar-pdf{
    border: solid red 1px;
    background-color:rgba(255, 0, 0, 0.2);
    color: red;
}

.btn-exportar-pdf svg polyline,
.btn-exportar-pdf svg line,
.btn-exportar-pdf svg path {
    fill: red;
}

.btn-exportar-pdf:hover{
    background-color: red;
    color: white;
}

.btn-exportar-excel{
    border: solid green 1px;
    background-color: rgba(0, 255, 0, 0.2);
    color: green;
}

.btn-exportar-excel svg polyline,
.btn-exportar-excel svg line,
.btn-exportar-excel svg path {
    fill: green;
}

.btn-exportar-excel:hover{
    background-color: green;
    color: white;
}

@media screen and (max-width: 869px){
    .container{
        display: inline-flex;
        width: 100%;
        text-align: center;
        flex-direction: row;
    }
    
    .btn-exportar{
        font-size: small;
        width: 80%;
        height: 2.6em;
    }
}