@import '../../styles/_variables.scss';

.teste {
    background-color: $background-color-light;
    color: $font-color-light;
  
    &.dark-theme {
      background-color: $background-color-dark;
      color: $font-color-dark;
    }
}