@import '../../styles/styles.scss';

.horizontal-table {
    display: flex;
    flex-direction: column;
  }
  
.table-row {
    display: inline-flex;
    width: -webkit-fill-available;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: solid var(--font-color) 1px;
    color: var(--font-color);

}
  
.header {
    font-weight: bold;
    margin-right: 10px; /* Adjust space between header and value */
}