
.body-login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../../assets/bgnovo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-login>h1{
    color:white;
    margin-top: 80%;
}

.form-login{
    color: gray;
    height: 100%;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0, 20px;
    cursor:default;

}

.form-login:hover{
    cursor:default;
}

.titulo-Login{
    margin-top: 80%;
}

input{
    background: lightblue;

}

.input-container{
    margin-left: 20px;
    margin-right:20px;
    display: flex;
    flex-direction: column;
    border: solid rgb(190, 190, 190) 2px;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    top: 30%;
}

.input-login{
    height: 30px;
    border: none;
    border-radius: 3px;
    text-align: center;
    
}

.input-login:not(:first-child){
    margin-top: 10px;
}

.pw{
    font-size: 0.8em;
    color: rgb(190, 190, 190);
    text-align: center;
    text-decoration: none;
}

.pw:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1054px){
    
    .body-login{
        height: 100%;
        width: 100%;
        display: flex;
        background-image: none;
        background-color: #181c2e;

    }

    .form-login{
        color: gray;
        height: 100%;
        width: 300px;
        position:absolute;
        left:50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    
    }

}