@import '../../styles/variables';

.search-bar-seletor{
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.date-container-seletor{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 20px;
    transition: all 2s;
    &.light-theme{
        border-top: solid $secondary-color-light 1px;
        border-bottom: solid $secondary-color-light 1px;
        background-color: $primary-color-light;
    }

    &.dark-theme{
        border-top: solid $secondary-color-dark 1px;
        border-bottom: solid $secondary-color-dark 1px;
        background-color: $primary-color-dark;
    }
}

.date-column-seletor{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.date-text-seletor{
    color:white;
}

.date-picker-seletor{
    text-align: center;
    display: flex;
    border-radius: 10px;
    height:2.2em;
    width: 80%;
    font-style: italic;
    color: black;

}

.date-container-seletor>.date-column-seletor>input{
    height: 2.2em;
    border-radius: 10px;
    width: 80%;
    
}

.date-container-seletor>.date-column-seletor>span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    
}

.date-container-seletor>.date-column-seletor>select{
    display: flex;
    height: 2.2em;
    text-align: center;
    width: 80%;
    font-style: italic;
}

.select-card-seletor{
    position: relative;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.date-column-seletor>.select-card-seletor>select{
    display: flex;
    height: 2.2em;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    font-style: italic;
    &.light-theme-disabled{
        background-color: $primary-color-light;
        color: $primary-color-dark;
    }

    &.dark-theme-disabled{
        background-color: $primary-color-dark;
        color: $font-color-dark;
    }  
}

.select-card-seletor>span{
    color: white;
    font-weight: bold;
    
}

.date-column-seletor>button{
    height: 2.2em;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.5em;
}

.date-column-seletor>.export{
    height: 2.2em;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.5em;
}

.select-card-seletor:not(:first-child){
    margin-top: 10px;
}

.date-column-seletor>.date-text{
    margin-top: 10px;
}

.btn-export{
    width: 80%;
}

.submit-container{
    width: 100%;
}

.select-disabled{
    &.light-theme{
        background-color: $primary-color-light;
        color: $primary-color-light;
    }

    &.dark-theme{
        background-color: $primary-color-dark;
        color: $secondary-color-dark;
    }  
}

.select-btn-seletor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    /* min-width: 141px; */
    justify-content: center;
}

.btn-seletor{
    margin-top: 22px;
    display: flex;
    height: 2.2em;
    text-align: center;
    justify-content: center;
    font-weight: 200;
    transition: all 2s;
    &.light-theme{
        border: solid $secondary-color-light 1px;
        background-color: $secondary-color-light;
        color: $primary-color-light;
    }

    &.dark-theme{
        border: solid $secondary-color-dark 1px;
        background-color: $secondary-color-dark;
        color: $primary-color-dark;
    }

}

.btn-seletor:hover{

    &.light-theme{
        color: $background-color-light;
        background-color: $secondary-color-light;
    }

    &.dark-theme{
        color: $background-color-dark;
        background-color: $secondary-color-dark;
    }
}

@media screen and (max-width: 869px){

    .search-bar{
        height: auto;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .date-container-seletor{
        width: 100%;
        display: flex;
        padding: 20px;
        padding-left: 40px;
        align-items: flex-end;
        
    }

    .date-column{
        text-align: center;
        display: inline-flex;
        align-items: center;
    }
    
    .select-card{
        width: 100%;
    }

    .select-card>select{
        display: flex;
        margin-left: 10%;
    }

    .select-card>.date-picker{
        display: flex;
        border-radius: 10px;
        height:2.2em;
        width: 80%;
        margin-left: 10%;
    }

    .date-text{
        color:white;
    }
    
    .date-picker{
        height: 2em;
    }
    
    .date-container>input{
        height: auto;
        border-radius: 10px;
    }
    
    .date-column-seletor>.select-card-seletor>select{
        display: flex;
        height: 2.2em;
        max-width: 200px;
        border-radius: 10px;
        text-align: center;
        font-style: italic;
        color: gray;
    }

    .date-container>select{
        height: auto;
        border-radius: 10px;
    }
    
    .date-container>span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }
    
    .date-container>select{
        display: flex;
        text-align: center;
    }

    .date-column:not(:nth-child(3)){
        display: flex;
        flex-direction: row;

    }

    body{
        min-width: 300px;
    }

    .select-card:not(:first-child){
        margin-top: 0;
    }
    
    .date-column:nth-child(4){
        margin-left: 0;
    }

    table{
        height: 500px;
    }

    .submit-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}