@import '../../styles/variables';

.app-page-vendas{
    display: contents;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: all 2s;
    &.light-theme{
        background-color: $background-color-light;
    }
    &.dark-theme{
        background-color: $background-color-dark;
    }
}

.page-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 2s;
    &.light-theme{
        background-color: $background-color-light;
    }
    &.dark-theme{
        background-color: $background-color-dark;
    }
}

.content{
    height: 100%;
    width: 100%;
    padding: 0px;
}

.page-vendas-background{
    display: flex;
    justify-content: center;
    transition: all 2s;
    &.light-theme{
        background-color: $primary-color-light;
    }
    &.dark-theme{
        background-color: $primary-color-dark;
    }
}

.page-content-vendas{
    width: 80%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 54px;
    transition: all 2s;
    &.light-theme{
        background-color: $background-color-light;
    }
    &.dark-theme{
        background-color: $background-color-dark;
    }
}

.vendas-title{
    margin: 0;
    transition: all 2s;
    &.light-theme{
        color: $font-color-light;
    }
    &.dark-theme{
        color: $font-color-dark;
    }
}

.vendas-title-container{
    text-align: center;
    border-bottom: solid white 1px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    transition: all 2s;
    &.light-theme{
        color: $primary-color-light;
        background-color: $secondary-color-light;
    }
    &.dark-theme{
        color:$font-color-dark;
        background-color: $primary-color-dark;
    }
    
}

.hr-vendas{
    margin: 1rem 0;
    color: white;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.component-container-vendas{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 869px){
    .page-content-vendas {
    width: 100%;
    padding: 1%;
    margin-left: 0%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 0;
    }

    .page-vendas-background{
        display: flex;
        justify-content: center;
        transition: all 2s;
        &.light-theme{
            background-color: $secondary-color-light;
        }
        &.dark-theme{
            background-color: $secondary-color-dark;
        }
    }
}