@import '../../styles/variables';

.app-page-vendas{
    display: contents;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-light;
    height: 100%;

}

.page-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-color-light;
}

.content{
    height: 100%;
    width: 100%;
    padding: 0px;
    padding-bottom: 10%;
}

.page-vendas-background{
    display: flex;
    justify-content: center;
    background-color: $primary-color-light;
}

.page-content-vendas{
    /*height: 100vh; */
    width: 80%;
    padding: 1%;
    /* margin-left: 10%; */
    background-color: $background-color-light;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 54px;
}

.vendas-title{
    color: $font-color-light;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.vendas-title-container{
    color: $primary-color-light;
    text-align: center;
    border-bottom: solid white 1px;
    background-color: $secondary-color-light;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    
}

.hr-vendas{
    margin: 1rem 0;
    color: white;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.component-container-vendas{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 869px){
    .page-content-vendas {
    width: 100%;
    padding: 1%;
    margin-left: 0%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 0;
    }
}