
.content-area{
  height: 100%;
  width: 100%;
  display: flex;
  color:  #181c2e;
  background-color: #181c2ed8;
  
}

.data-group-area{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.graph-data{
  height: 100%;
  width: 100%;
  background-color: #444e79;
  box-shadow:inset 0px 270px 0px 0px #181c2e;


}

.graph-data:nth-child(2){
  position: relative;
  top: -10%;
}

.table-data{
  height: 100%;
  width: 100%;
  padding-top:60px;
  padding-left: 10px;
  background-color: #444e79;
  box-shadow:inset 0px 270px 0px 0px #181c2e;
  display: flex;
  flex-direction: row;
}

.table-data:nth-child(2){
  position: relative;
  top: -10%;
}

.dash-table{
  border: 0;
  color: #DDD;
};

.custom-chart {
  height:50%;
}

.dash-table caption{
  font-size: 1.3em;
}

.dash-table .dash-thead{
  border:none;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.dash-table .dash-tr{
  border-bottom: 3px solid  #DDD;
  display: block;
  margin-bottom: 0.60em;
}

.dash-table .dash-td{
  border-bottom: 1px solid  #DDD;
  display: block;
  font-size: 0.8em;
  text-align: right;
}

.dash-table .dash-td::before{
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-card{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.5);*/

}




