:root {
  /* Current Theme Colors */
  --primary-color: rgb(10, 61, 112);
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
  /* Light Theme Colors */
  --primary-color-light: rgb(10, 61, 112);
  --secondary-color-light: rgb(153, 204, 51);
  --background-color-light: #fff;
  --font-color-light: rgb(10, 61, 112);
  --header-text-color-light: white;
  --modalidades-border-light: rgb(10, 61, 112);
  --table-background-light: white;
  --table-row-hover-color-light: rgb(153, 204, 51);
  --table-row-hover-bg-light: rgb(10, 61, 112);
  --header-bg-light: rgba(10,61,112,0.945);
  --calendar-cell-color-light: rgb(10, 61, 112);
  --calendar-now-color-light: rgb(153, 204, 51);
  --calendar-neighbor-color-light: #757575;
  --calendar-btn-navigation-color-light: rgb(10, 61, 112);
  --calendar-neighbor-bg-light: rgb(187, 187, 187);
  --sidebar-font-color-light: white;
  --subtitle-light: rgb(10, 61, 112);
  /* Dark Theme Colors */
  --primary-color-dark: rgb(35, 31, 32);
  --secondary-color-dark: darkgray;
  --background-color-dark: rgb(20, 20, 20);
  --font-color-dark: #d3d3d3;
  --header-text-color-dark: black;
  --modalidades-border-dark: rgb(97, 97, 97);
  --table-background-dark: rgb(20, 20, 20);
  --table-row-hover-color-dark: rgb(55, 51, 52);
  --table-row-hover-bg-dark: rgb(97, 97, 97);
  --header-bg-dark: rgba(35,31,32, 0.945);
  --calendar-cell-color-dark: rgb(97, 97, 97);
  --calendar-now-color-dark: white;
  --calendar-neighbor-color-dark: rgb(26, 26, 26);
  --calendar-btn-navigation-color-dark: white;
  --calendar-neighbor-bg-dark: black;
  --sidebar-font-color-dark: #d3d3d3;
  --subtitle-dark: darkgray;
  --default-font: Arial, Helvetica, sans-serif;
  --default-background: #fff;
  --default-primary: #000;
  --default-secondary: #4f4f4f;
  --default-font-app: var(--default-font);
}

.content-area {
  position: relative;
  padding: 3% 3% 10%;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  background-color: var(--background-color);
}

.content-area + .dash {
  height: 100%;
}

.data-group-area {
  display: flex;
  padding-bottom: 1%;
  /* height: 400px; */
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.dash-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-error-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.btn-dash-error {
  margin-top: 50px;
  width: 200px;
}

.title-chart {
  width: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 8px;
  /* margin-left: 2.5%; */
  align-self: center;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.4s;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.data-group-area {
  padding-bottom: 1%;
}

.graph-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px;
  width: -webkit-fill-available;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: inset 0 270px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7019607843);
  color: var(--font-color);
  transition: all 0.4s;
}

.dash-body-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

.thead-admin {
  position: sticky;
  top: 0px;
}

.custom-chart {
  height: 50%;
}

.modal-card {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 869px) {
  .title-chart {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    border-radius: 0px;
  }
  .content-area {
    padding: 0 0 9%;
  }
  .graph-data {
    border-radius: 0px;
  }
}/*# sourceMappingURL=dashboard.css.map */