@import '../../styles/variables';

.content-area{
  height: 100%;
  width: 100%;
  /* margin-left: 10%; */
  display: flex;
  flex-direction: column;
  color: $font-color-light;
  background-color: $primary-color-light;

}

.data-group-area{
  height: 100%;
  width: 100%;
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  background-color: #59659e;

}

.title-chart{
  width: 95%;
  display: block;
  text-align: center;
  border-bottom: solid white 1px;
  color: white;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 8px;
  margin-left: 2.5%;
  align-self: center;
  padding: 5px;
  border-radius: 20px;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.9);
  background-color: #59659e;

}

.data-group-area:nth-child(2){
  padding-bottom: 5.8%;

}

.table-chart-dash{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  /* position: relative; */
  top: 0;
  position: sticky;
  background-color: #181c2e;
  z-index: 1;

}

.graph-data{
  height: 400px;
  width: 100%;
  background-color: #181c2e;
  border-radius: 20px 20px 0 0;
  box-shadow:inset 0px 270px 0px 0px;
}

.table-data{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #181c2e;
  border-radius: 0 0 20px 20px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto

}

.table-data-dashboard{
  border-bottom: solid white 1px;
}
/*
.tbody-sticky{
  position: sticky;
  top: 0;
  background-color: #181c2e;

}
*/
.dash-body-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;

}

.thead-admin{
  position: sticky;
  top: 0px;

}

.dash-table{
  border: 0;
  color: #DDD;
  max-height: 0px;

}

.dash-tbody-bg{
  background-color: #181c2e;

}

.custom-chart {
  height:50%;

}

.dash-table caption{
  font-size: 1.3em;

}

.dash-table .dash-thead{
  border:none;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

}

.dash-table .dash-tr{
  border-bottom: 3px solid #DDD;
  display: flex;
  margin-bottom: 4.6em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  position: relative;
  top: 50px;

}

.dash-table .dash-td{
  border-bottom: 1px solid  #DDD;
  display: block;
  font-size: 0.8em;
  text-align: right;

}

.dash-table .dash-td::before{
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;

}

.modal-card{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.sticky-th{
  position: sticky;
  top: 0;

}

@media screen and (max-width: 869px){
  .title-chart{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;

  }

  .data-group-area{
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    background-color: #59659e;

  }

  .data-group-area{
    padding: 1% 5% 1% 5%;
  }

}


