.modal-cliente{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

.modal-window{
    width: 80%;
    height: 50%;
    background-color: #181c2e;
    border: solid 2px aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    z-index: 2;
    align-items: center;
}

.modal-content{
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    border: solid white 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
}

.btn-container-modal-cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 21px;
}

.btn-modal{
    height: auto;
}

.date-container-modal-cliente{
    height: 100px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: #181c2e;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}