:root {
  // Default font and base variables
  --secondary-color-light: #99cc33;
  --default-font: Arial, Helvetica, sans-serif;
  --default-background: #fff;
  --default-primary: #000;
  --default-secondary: #4f4f4f;
  --default-font-app: var(--default-font);
}

// Default context (SL)
[data-context="salvalucro"] {
  --primary-color: rgb(10, 61, 112);        
  --primary-color-rgb: 10, 61, 112;
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
}

[data-context="salvalucro"][data-theme="dark"] {
  --primary-color: rgb(20, 20, 20);
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: #99cc33;
  --background-color: rgb(35, 31, 32);
  --font-color: #d3d3d3;
  --header-text-color: black;
  --modalidades-border: rgb(97, 97, 97);
  --table-background: rgb(20, 20, 20);
  --table-row-hover-color: rgb(55, 51, 52);
  --table-row-hover-bg: rgb(97, 97, 97);
  --header-bg: rgba(35,31,32, 0.945);
  --calendar-cell-color: rgb(97, 97, 97);
  --calendar-now-color: white;
  --calendar-neighbor-color: rgb(51, 51, 51);
  --calendar-btn-navigation-color: white;
  --calendar-neighbor-bg: black;
  --sidebar-font-color: #d3d3d3;
  --subtitle-color: darkgray;
}

// SIFRA context
[data-context="sifra"] {
  --primary-color: rgb(10, 61, 112);        
  --primary-color-rgb: 10, 61, 112;
  --secondary-color: #e0ca00;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #e0ca00;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: #e0ca00;
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
}

[data-context="sifra"][data-theme="dark"] {
  --primary-color: rgb(20, 20, 20);
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: #a19100;
  --background-color: rgb(35, 31, 32);
  --font-color: #d3d3d3;
  --header-text-color: black;
  --modalidades-border: rgb(97, 97, 97);
  --table-background: rgb(20, 20, 20);
  --table-row-hover-color: rgb(55, 51, 52);
  --table-row-hover-bg: rgb(97, 97, 97);
  --header-bg: rgba(35,31,32, 0.945);
  --calendar-cell-color: rgb(97, 97, 97);
  --calendar-now-color: white;
  --calendar-neighbor-color: rgb(51, 51, 51);
  --calendar-btn-navigation-color: white;
  --calendar-neighbor-bg: black;
  --sidebar-font-color: #d3d3d3;
  --subtitle-color: darkgray;
}

// MG context
[data-context="mg"] {
  --primary-color: #6b74b5;        
  --primary-color-rgb: 107, 116, 181;
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #6b74b5;
  --header-text-color: white;
  --modalidades-border: #6b74b5;
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: #6b74b5;
  --header-bg: rgba(107, 116, 181,0.945);
  --calendar-cell-color: #6b74b5;
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: rgb(107, 116, 181);
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: #6b74b5;
}

[data-context="mg"][data-theme="dark"] {
  --primary-color: rgb(20, 20, 20);
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: darkgray;
  --background-color: rgb(35, 31, 32);
  --font-color: #d3d3d3;
  --header-text-color: black;
  --modalidades-border: rgb(97, 97, 97);
  --table-background: rgb(20, 20, 20);
  --table-row-hover-color: rgb(55, 51, 52);
  --table-row-hover-bg: rgb(97, 97, 97);
  --header-bg: rgba(35,31,32, 0.945);
  --calendar-cell-color: rgb(97, 97, 97);
  --calendar-now-color: white;
  --calendar-neighbor-color: rgb(51, 51, 51);
  --calendar-btn-navigation-color: white;
  --calendar-neighbor-bg: black;
  --sidebar-font-color: #d3d3d3;
  --subtitle-color: darkgray;
}

// Superjur context
[data-context="superjur"] {
  --primary-color: rgb(176, 207, 113);        
  --primary-color-rgb: 176, 207, 113;
  --secondary-color: #555555;
  --background-color: #fff;
  --font-color: #b0cf71;
  --header-text-color: white;
  --modalidades-border: #b0cf71;
  --table-background: white;
  --table-row-hover-color: #555555;
  --table-row-hover-bg: #b0cf71;
  --header-bg: rgba(176, 207, 113,0.945);
  --calendar-cell-color: #b0cf71;
  --calendar-now-color: #555555;
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #b0cf71;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: #b0cf71;
}

[data-context="superjur"][data-theme="dark"] {
  --primary-color: rgb(20, 20, 20);
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: darkgray;
  --background-color: rgb(35, 31, 32);
  --font-color: #d3d3d3;
  --header-text-color: black;
  --modalidades-border: rgb(97, 97, 97);
  --table-background: rgb(20, 20, 20);
  --table-row-hover-color: rgb(55, 51, 52);
  --table-row-hover-bg: rgb(97, 97, 97);
  --header-bg: rgba(35,31,32, 0.945);
  --calendar-cell-color: rgb(97, 97, 97);
  --calendar-now-color: white;
  --calendar-neighbor-color: rgb(51, 51, 51);
  --calendar-btn-navigation-color: white;
  --calendar-neighbor-bg: black;
  --sidebar-font-color: #d3d3d3;
  --subtitle-color: darkgray;
}

// Card Digital context
[data-context="carddigital"] {
  --primary-color: rgb(10, 61, 112);        
  --primary-color-rgb: 10, 61, 112;
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
}

[data-context="carddigital"][data-theme="dark"] {
  --primary-color: rgb(20, 20, 20);
  --primary-color-rgb: 20, 20, 20;
  --secondary-color: darkgray;
  --background-color: rgb(35, 31, 32);
  --font-color: #d3d3d3;
  --header-text-color: black;
  --modalidades-border: rgb(97, 97, 97);
  --table-background: rgb(20, 20, 20);
  --table-row-hover-color: rgb(55, 51, 52);
  --table-row-hover-bg: rgb(97, 97, 97);
  --header-bg: rgba(35,31,32, 0.945);
  --calendar-cell-color: rgb(97, 97, 97);
  --calendar-now-color: white;
  --calendar-neighbor-color: rgb(51, 51, 51);
  --calendar-btn-navigation-color: white;
  --calendar-neighbor-bg: black;
  --sidebar-font-color: #d3d3d3;
  --subtitle-color: darkgray;
}

// SPECIAL context
[data-context="SPECIAL"] {
  --primary-color: rgb(150, 0, 100);
  --primary-color-rgb: 150, 0, 100;
  --secondary-color: #ff66cc;
  --background-color: #fff0f5;
  --font-color: #660033;
  --header-text-color: white;
  --modalidades-border: rgb(150, 0, 100);
  --table-background: white;
  --table-row-hover-color: #ff66cc;
  --table-row-hover-bg: rgb(150, 0, 100);
  --header-bg: rgba(150,0,100,0.945);
  --calendar-cell-color: rgb(150, 0, 100);
  --calendar-now-color: #ff66cc;
  --calendar-neighbor-color: #999999;
  --calendar-btn-navigation-color: #cc0099;
  --calendar-neighbor-bg: rgb(220, 200, 210);
  --sidebar-font-color: white;
  --subtitle-color: rgb(150, 0, 100);
}

[data-context="SPECIAL"][data-theme="dark"] {
  --primary-color: rgb(50, 0, 35);
  --primary-color-rgb: 50, 0, 35;
  --secondary-color: #cc3399;
  --background-color: rgb(30, 10, 25);
  --font-color: #ffccdd;
  --header-text-color: #ffccdd;
  --modalidades-border: #990066;
  --table-background: rgb(50, 0, 35);
  --table-row-hover-color: #330022;
  --table-row-hover-bg: #990066;
  --header-bg: rgba(30,10,25,0.945);
  --calendar-cell-color: #990066;
  --calendar-now-color: #ff66cc;
  --calendar-neighbor-color: #666666;
  --calendar-btn-navigation-color: #dd00aa;
  --calendar-neighbor-bg: rgb(20, 5, 15);
  --sidebar-font-color: #ffccdd;
  --subtitle-color: #cc3399;
}