
//Cores do Tema Claro

$primary-color-light: rgb(10,61,112);
$secondary-color-light: rgb(153,204,51);
$background-color-light: #fff;

//Cores do Tema Escuro

$primary-color-dark: rgb(35, 31, 32);
$secondary-color-dark: #fff;
$background-color-dark: #000;

//fonte

$default-font: Arial, Helvetica, sans-serif;
$font-color-light: rgb(10,61,112);
$font-color-dark: #fff;

//variáveis padrão do web app

$default-background: #fff;
$default-primary: #000;
$default-secondary: #4f4f4f;
$default-font-app: $default-font;