
@import './variables';

.app-page-global{
    display: contents;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page-background-global{
    display: flex;
    justify-content: center;
    transition: all 2s;
    &.light-theme{
        background-color: $background-color-light;
    }
    &.dark-theme{
        background-color: $background-color-dark;
    }
}

.page-content-global{
    width: 80%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 54px;
    &.light-theme{
        background-color: $background-color-light;
    }
    &.dark-theme{
        background-color: $background-color-dark;
    }
}


.title-container-global{
    text-align: center;
    border-bottom: solid white 1px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    &.light-theme{
        color: $primary-color-light;
        background-color: $secondary-color-light;
    }
    &.dark-theme{
        color:$font-color-dark;
        background-color: $primary-color-dark;
    }
}

.title-global{
    margin: 0;
    &.light-theme{
        color: $font-color-light;
    }
    &.dark-theme{
        color: $font-color-dark;
    }
}

span{
    &.light-theme{
        color: $font-color-light;
    }
    &.dark-theme{
        color: $font-color-dark;
    }
}

.hr-global{
    width: 100%;
    margin: 1rem 0;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    &.light-theme{
        color: $primary-color-light;
    }
    &.dark-theme{
        color: $secondary-color-dark;
    }
}

///Botões

.btn-global{
    width: 30%;
    display: flex;
    height: 2.2em;
    text-align: center;
    max-width: 300px;
    justify-content: center;
    border-radius: 10px;
    font-weight: 200;
    align-items: center;

    background-color:aquamarine;
    border-color: bisque;

    &.light-theme{
        border: solid $secondary-color-light 1px;
        background-color: $secondary-color-light;
        color:$font-color-light;
    }
    &.dark-theme{
        border: solid $secondary-color-dark 1px;
        background-color: $secondary-color-dark;
        color:$background-color-dark;
    }
}

.btn-global:hover{
    &.light-theme{
        color: $secondary-color-light;
        background-color: $primary-color-light;
    }
    &.dark-theme{
        color: $secondary-color-dark;
        background-color: $primary-color-dark;
    }
}

///select

.select-disabled-global{
    &.light-theme-disabled{
        background-color: $primary-color-light;
        color: $secondary-color-light;
    }

    &.dark-theme-disabled{
        background-color: $primary-color-dark;
        color: $secondary-color-dark;
    }  
}

.select-global {
    display: flex;
    height: 2.2em;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    font-style: italic;
    &.light-theme-disabled{
        background-color: $primary-color-light;
        color: $secondary-color-light;
    }

    &.dark-theme-disabled{
        background-color: $primary-color-dark;
        color: $secondary-color-dark;
    }  
}

///tabela

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;

    &.light-theme{
        --bs-table-color: $font-color-light;
        --bs-table-bg: $background-color-light;

        --bs-table-striped-color: $font-color-light;
        --bs-table-striped-bg: rgb(196, 200, 201);

    }
    &.dark-theme{
        --bs-table-color: $font-color-dark;
        --bs-table-bg: $primary-color-dark;

        --bs-table-striped-color: $font-color-dark;
        --bs-table-striped-bg: rgba(primary-color-dark, 0.05);

    }
}


.thead-global{
    &.light-theme{
        background-color: $primary-color-light;
    }
    &.dark-theme{
        background-color: $primary-color-dark;
    }
}
    //Linhas e Background da tabela
.det-table-global{
    min-height:30%;
    &.light-theme{
        color: $font-color-light;
        --bs-table-striped-color: $font-color-light;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.09);
        border: none;
        background-color: $background-color-light;
    }
    &.dark-theme{
        color: $font-color-dark;
        --bs-table-striped-color: $font-color-dark;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.5);
        border: none;
        background-color: $primary-color-dark;
        border-bottom: solid $primary-color-dark 1px;
    }
}

.det-th-global{
    position: sticky;
    top: 0;
    background-color: white;
    

}
    //Header da tabela
.det-tr-top-global{
    position: sticky;
    top: 0;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    padding: 10px;

    --bs-table-color: white;
  
    &.light-theme {
        background-color: rgb(10,61,112);
      --bs-table-bg: rgb(10,61,112);
    }
  
    &.dark-theme {
        background-color: black;
      --bs-table-bg: $primary-color-dark;
    }
}

.det-tr-global{
    &.light-theme {
        --bs-table-bg: $background-color-light;
      }
    
      &.dark-theme {
        --bs-table-bg: $background-color-dark;
      }
}

tr{
    height: 1.5em;
}

.det-th-global, .det-td-global{
    width: 200px;
    text-align: center;
    white-space: nowrap;
    border: none;
    
}

.det-td-vendas-global{
    width: 200px;
    text-align: center;
    white-space: nowrap;
    border: none;
    
}

.green-global{
    &.light-theme{
        color: rgb(0, 204, 0);
        font-weight: bold;
        
    }
    &.dark-theme{
        color: $secondary-color-light;
    }
}

.red-global{
    color:rgb(218, 100, 100);
}

///Paginas 

///Modal

///Scrollbar

  /* width */
  ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.116)
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media screen and (max-width: 869px){
    .page-content-global {
        width: 100%;
        padding: 1%;
        margin-left: 0%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-radius: 0;

    }

    .page-background-global{
        display: flex;
        justify-content: center;
        transition: all 2s;
        
    }
}