@import '../../styles/variables';

.app-page-recebimentos{
    display: contents;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--background-color);
    
}

.page-recebimentos-background{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: var(--background-color);

}

.recebimentos-title-container{
    text-align: center;
    border-bottom: solid white 1px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.recebimentos-title{
    margin: 0;
    color: var(--font-color);
}

.hr-recebimentos{
    width: 100%;
    margin: 1rem 0;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    color: var(--font-color);

}

.btn-div-recebimentos{
    display: flex;
}

.btn-banco-container{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.page-content-recebimentos{
    width: 80%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 54px;
    background-color: var(--background-color);
}

.component-container-recebimentos{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.btn-banco-recebimentos{
    width: 26%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 10px;
    background-color: var(--primary-color);
}

@media screen and (max-width: 869px){

    .page-recebimentos-background{
        background-color: var(--background-color);
    }

    .page-content-recebimentos {
        width: 100%;
        padding: 1%;
        margin-left: 0%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-radius: 0;
    }
}