@import '../../styles/variables';

.radio-container-exportacao {
    display: inline-flex;
    justify-content: space-around;
}

.radio {
    display: inline-flex;
    align-items: center;
}

.radio-label:hover {
    cursor: pointer;
    &.light-theme {
        color: $secondary-color-light;
    }
    &.dark-theme {
        color: darkgray;
    }
}

.radio input[type="radio"] {
    display: none; /* Hide the actual radio input */
}

.radio-indicator {
    position: relative; /* Make position relative for absolute positioning */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px; /* Adjust spacing between indicator and label */
    &.light-theme {
        background-color: #ccc; /* Default color */
    }
    &.dark-theme {
        background-color: rgb(49, 49, 49);
    }
}

/* Style the custom radio indicator when it's checked */
.radio input[type="radio"]:checked + .radio-indicator {
    cursor: pointer;
    &.light-theme {
        background-color: $secondary-color-light;
    }
    &.dark-theme {
        background-color: white;
    }
}

/* Add dot in the center of the selected option */
.radio input[type="radio"]:checked + .radio-indicator::after {
    content: ''; /* Add an empty content */
    display: block;
    width: 10px; /* Adjust size of the dot */
    height: 10px; /* Adjust size of the dot */
    border-radius: 50%;
    background-color: black; /* Color of the dot */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.radio-label {
    color: inherit; /* Inherit color from parent */
}

.light-theme .radio-label {
    color: #000; /* Light theme color */
}

.dark-theme .radio-label {
    color: #fff; /* Dark theme color */
}
