.recebimentos-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-color: #181c2e;
    margin: 0;
}

.btn-div-recebimentos{
    display: flex;

}