.app-page-recebimentos{
    display: contents;
    flex-direction: column;
    align-items: center;
    background-color: #59659e;
    height: 100%;
    
}

.page-recebimentos-background{
    display: flex;
    background-color: #59659e;
    /* min-height: 100vh; */
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.recebimentos-title-container{
    color: white;
    text-align: center;
    border-bottom: solid white 1px;
    background-color:#59659e;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.recebimentos-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

.hr-recebimentos{
    width: 100%;
    margin: 1rem 0;
    color: white;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.btn-div-recebimentos{
    display: flex;

}

.btn-banco-container{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
}

.page-content-recebimentos{
    /*height: 100vh; */
    width: 80%;
    padding: 1%;
    /* margin-left: 10%; */
    background-color: #181c2e;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 54px;
    
}

.component-container-recebimentos{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;

}

.btn-banco-recebimentos{
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

@media screen and (max-width: 869px){

    .page-content-recebimentos {
        width: 100%;
        padding: 1%;
        margin-left: 0%;
        background-color: #181c2e;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-radius: 0;
    }
}