.container{
    width: 100%;
    max-width: none;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    background-color: white;
    padding-bottom: 13px;
}

.btn-exportar{
    width: 138px;
    border: solid white 2px;
}

.btn-exportar:not(:first-child){
    margin-left: 20px;
}

@media screen and (max-width: 832px){
    .container{
        width: 100%;
        display: flex;
        padding-left: 12px;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }
}