.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
}

.btn-exportar{
    width: 138px;
    border: solid white 2px;
}

.btn-exportar:not(:first-child){
    margin-left: 20px;
}

@media screen and (max-width: 832px){
    .container{
        width: 100%;
        display: flex;
        padding-left: 12px;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }
}