@import '../../styles/variables';

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.modal-window-content{
    /* height: 100%; */
    width: 80%;
    border-radius: 20px;
    /* border: solid green 2px; */
    background-color: $primary-color-light;
    padding: 16px;
    z-index: 9;
    
}

.modal-content-adq{
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

.modal-close{
    margin-bottom: 10px;

}