.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.modal-window-content{
    height: 100%;
    width: 100%;
    border: solid green 2px;
    z-index: 9;
    
}