@import '../../styles/variables';

.search-bar{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.light-theme{
        background-color: $background-color-light;
    }
    &.dark-theme{
        background-color: $background-color-dark;
    }
}

.date-container-vendas{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    transition: all 2s;
}

.date-column{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.date-text{
    transition: all 2s;
    &.light-theme{
        color: $font-color-light;
    }
    &.dark-theme{
        color: $font-color-dark;
    }
}

.date-picker{
    text-align: center;
    display: flex;
    border-radius: 10px;
    height:2.2em;
    width: 80%;
    font-style: italic;
    color: black;

}

.date-container-vendas>.date-column>input{
    height: 2.2em;
    border-radius: 10px;
    width: 80%;
    
}

.date-container-vendas>.date-column>span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    
}

.date-container-vendas>.date-column>select{
    display: flex;
    height: 2.2em;
    text-align: center;
    width: 80%;
    font-style: italic;
}

.date-column>.select-card>select{
    display: flex;
    height: 2.2em;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    font-style: italic;
    color: gray;
}

.select-card>span{
    font-weight: bold;
    transition: all 2s;
    &.light-theme{
        color: $font-color-light;
    }
    &.dark-theme{
        color: $font-color-dark;
    }
    
}

.select-align{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.date-column>button{
    height: 2.2em;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.5em;
}

.date-column>.export{
    height: 2.2em;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-top: 1.5em;
}

.select-card:not(:first-child){
    margin-top: 10px;
}

.date-column>.date-text{
    margin-top: 10px;
}

.btn-export{
    width: 80%;
}

.submit-container{
    width: 100%;
}

@media screen and (max-width: 869px){

    .search-bar{
        height: auto;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .date-container-vendas{
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        transition: all 2s;
        &.light-theme{
            background-color: $background-color-light;
        }
        &.dark-theme{
            background-color: $background-color-dark;
        }
    }

    .date-column{
        text-align: center;
        display: inline-flex;
        align-items: center;
    }
    
    .select-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .select-card>select{
        display: flex;
        margin-left: 0;
    }

    .select-card>.date-picker{
        display: flex;
        border-radius: 10px;
        height:2.2em;
        width: 80%;
        margin-left: 10%;
    }

    .date-text{
        color:white;
    }
    
    .date-picker{
        height: 2em;
    }
    
    .date-container-vendas>input{
        height: auto;
        border-radius: 10px;
    }
    
    .date-container-vendas>select{
        height: auto;
        border-radius: 10px;
    }
    
    .date-container-vendas>span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }
    
    .date-container-vendas>select{
        display: flex;
        text-align: center;
    }

    .date-column:not(:nth-child(3)){
        display: flex;
        flex-direction: row;

    }

    body{
        min-width: 300px;
    }

    .select-card:not(:first-child){
        margin-top: 0;
    }
    
    .date-column:nth-child(4){
        margin-left: 0;
    }

    table{
        height: 500px;
    }

    .submit-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}