

.vendas-view{
    width: 100%;
    min-height: 500px;
    overflow: scroll;
    background-color: azure;
}

.table-wrapper{
    height: 500px;
    padding-bottom: 10%;
}
.det-table{
    min-height:50%;
}

.det-th, .det-td{
    width: 200px;
    text-align: center;
    white-space: nowrap;
}

.table-btn{
    height: 1em;
    text-align: center;
    justify-content: center;
}

.green{
    color: green;
}

.red{
    color:red;
}