@import '../../styles/variables';

.header-bg-image{
    display: inline-table;
    width: 100%;
    height: 74.77px; 
    background-image: url("../../assets/financ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.side-bar-container{
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}

.side-bar-container:first-child{
    height: 100%;
    background-color: lightblue;
}

.li-sidebar{
    width: 100%;
}

.li-sidebar>button{
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    color: white;
}

.p-side-bar{
    display: none;
}

.mobile{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.btn-mobile{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    transition: all .4s;
    &.light-theme{
        color: white;
        border: solid $secondary-color-light 1px;
        background-color: #0a3d70e7;
    }
    &.dark-theme{
        color: $font-color-dark;
        border: solid $secondary-color-dark 1px;
        background-color: #231f20f1;
    }
}

.btn-mobile:hover{
    &.light-theme{
        color: $font-color-light;
        border: solid $primary-color-light 1px;
        background-color: $secondary-color-light;
    }
    &.dark-theme{
        color: $primary-color-dark;
        border: solid white 1px;
        background-color: $secondary-color-dark;
    }
}

.transition-slide-down {
    transition: all 0.3s ease-in-out; /* Adjust the duration and easing function as needed */
}

.header-bg{
    width: 100%;
    color:white;
    font-weight: bold;
    display: flex;
    // height: 74.77px; subs por proporcional
    height: 5em;
    // background-size: cover; sem efeito
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    &.light-theme{
        background-color: #0a3d70e7;
    }
    &.dark-theme{
        background-color: #231f20f1;
    }
}

.barra-header{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    &.light-theme{
        background-color: $primary-color-light;
    }
    &.dark-theme{
        background-color: $primary-color-dark;
    }
}

.li-container{
    height: 40px;
    display: inline-flex;
    width: 100%;
    /* padding: 10px;*/
}

.navbar-title{
    display: flex;
    flex-direction: column;
    align-self: start;
    padding-left: 20px;
    padding-top: 15px;
    font-size: x-large;
    z-index: 1;
}

.navbar-title>img{
    width: 260px;
    
}

// .nav-text{ 
//     margin-left: 20px; sem efeito
// }

.header-info-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar-customer-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
    justify-content: center;
    align-items: flex-end;
    
}

.navbar-customer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}

.teste{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

// a.nav-text{
//     margin: 0; sem efeito
// }

// .btn-exit{
//     text-align: center;
//     align-self: start;
//     background-color: red;
//     border-radius: 6px;
//     border: solid white 2px;
//     margin-top: 2px;
//     margin-right: 2px;
//     z-index: 9;
// }

.nav-item{
    width: fit-content;
    height: 100%;
    display: inline;
    flex-direction: column;
    justify-content: center;
}

// .nav-item:not(:first-child){
//     margin-left: 0; sem efeito
// }

.navbar-nav{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    &.light-theme{
        background-color: $primary-color-light;
    }
    &.dark-theme{
        background-color: $primary-color-dark;
    }
}

.navbar-nav .dropdown-menu{
    position: relative;
    z-index: 9999;
    &.light-theme{
        background-color: $primary-color-light;
        border: solid $secondary-color-light 1px;
    }
    &.dark-theme{
        background-color: $primary-color-dark;
        border: solid $secondary-color-dark 1px;
    }
}

.navbar-nav .dropdown-menu-normal{
    position: relative;
    z-index: 9999;
    &.light-theme{
        background-color: $primary-color-light;
        border: solid $secondary-color-light 1px;
    }
    &.dark-theme{
        background-color: $primary-color-dark;
        border: solid $secondary-color-dark 1px;
    }
}

.btn-container{ // ??
    align-items: center;
    justify-content: center;
    margin: auto 0;
    // display: flex; - sem efeito
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-content: space-between;
}

.li-button-content{
    /* padding: 5px; */
    height:100%;
    width: 100%;
    color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;

    &.light-theme{
        background-color: $primary-color-light;
       
    }

    &.dark-theme{
        background-color: $primary-color-dark;

    }
}

.li-button-content:hover{
    border-radius: 8px 0;
    &.light-theme{
        color: $primary-color-light;
        background-color: $secondary-color-light;
    }

    &.dark-theme{
        color: $primary-color-dark;
        background-color: $secondary-color-dark;
    }
    
    transition: all, 0.4s;
}

// .nav-item>a{
//     height: 100%;
// }

.toggle-container {
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #35495a;
  }
  
  input:checked + .slider:before {
    transform: translateX(31px);
  }

//   .nav-link{
//     padding: 0px !important;
//   }

/* Styles for dropdown menu */
.dropdown-menu {
    inset: 0px auto auto 0px;
    position: absolute;
    margin: 0px;
    transform: translate(202px, 0px);
    background: none;
    border: none;
    padding: 0;
    z-index: 1000; /* Ensure the dropdown menu is above other elements */
  }
  
  .dropdown-menu.show {
    display: block;
  }

  .dropdown-menu-normal {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000; /* Ensure the dropdown menu is above other elements */
  }
  
  .dropdown-menu-normal.show {
    display: block;
  }
  
  /* Styles for dropdown menu items */
  .dropdown-item {
    display: flex;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    /* display: block; */
    padding: 0;
    position: relative;
    z-index: 1000;
    align-items: stretch;
    align-content: stretch;
        &.light-theme{
            color: white;
            background-color: $primary-color-light;
        
        }

        &.dark-theme{
            color: white;
            background-color: $primary-color-dark;

        }
  }

  .dropdown-button:hover{

    &.light-theme{
        color: white;
        background-color: $secondary-color-light;
       
    }

    &.dark-theme{
        color: white;
        background-color: $secondary-color-dark;

    }
    
  }
  
  .dropdown-item:hover {
    &.light-theme{
        color: $primary-color-light;
        background-color: $primary-color-light;
       
    }

    &.dark-theme{
        color: $primary-color-dark;
        background-color: $primary-color-dark;

    }
  }

    .navbar-nav .dropdown-menu .dropdown-item {
        text-decoration: none !important;
    }

    .navbar-nav .dropdown-menu-normal .dropdown-item {
        text-decoration: none !important;
    }

    .ms-1 .mt-2 .mb-auto .li-btn-text{
        text-decoration: none !important;
    } 

    a{
        text-decoration: none !important;
    }

    .dropdown{
        position: relative;
        height: 100%;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: row;
        padding-left: 10px;
      }
      
      .checkbox-input {
        display: none; /* Hide the default checkbox */
      }
      
      .checkbox-custom {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc; /* Border color for unchecked state */
        border-radius: 4px;
        margin-right: 8px;
        &.light-theme{
            border-color: $primary-color-light;
           
        }
    
        &.dark-theme{
            border-color: $primary-color-dark;
    
        }
      }
      
      .checkbox-input:checked + .checkbox-custom {
        &.light-theme{
            border-color: $secondary-color-light;
            background-color: $secondary-color-light;
           
        }
    
        &.dark-theme{
            border-color: $secondary-color-dark;
            background-color: $secondary-color-dark;
    
        }
      }
      
      .checkbox-icon {
        margin-right: 8px;
      }
      
      .checkbox-label:hover .checkbox-custom {
        border-color: #999; /* Change border color on hover */
      }
      
      /* Animation example */
      .checkbox-custom {
        transition: background-color 0.3s, border-color 0.3s;
      }

      .li-button-content{
    
        &.light-theme{
            color: white;
            background-color: $primary-color-light;
        }
    
        &.dark-theme{
            color: $font-color-dark;
            background-color: $primary-color-dark;
        }
    }
    
    .li-button-content:hover{
        &.light-theme{
            color: $font-color-light;
            background-color: $secondary-color-light;
        }
    
        &.dark-theme{
            color: $primary-color-dark;
            background-color: $secondary-color-dark;
        }
        transition: all, 0.4s;
    }

    .calendar-icon{
        position: relative;
        right: 28px;
        top: -2px;
        &.light-theme{
            color: $secondary-color-light;
        }
    
        &.dark-theme{
            color: $secondary-color-dark;
        }

        &.isCheckedCalendar{
            &.light-theme{
                color: $primary-color-light;
            }
        
            &.dark-theme{
                color: $primary-color-dark;
            }
        }
        transition: all, 0.4s;
    }

@media screen and (max-width: 1231px){

    .navbar-nav{
        display: none;
    }

    .toggle-container {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        left: 50px;
    }

    .p-side-bar{
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 0;
        width: 15%;
        display: block;
    }

    .li-btn-text{
        display: none
    }

    .a-side-bar{
        width: 50px !important;
    }

    .header-bg-image{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .header-bg{
        width: 100%;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .navbar-title{
        display: flex;
        flex-direction: column;
        align-self: start;
        padding-left: 0px;
        padding-top: 15px;
        font-size: x-large;
        width: 100%;
        z-index: 1;
        align-content: center;
        align-items: center;
    }

    .navbar-title>img{
        padding-bottom: 15px;
    }
    
    .nav-text{
        margin-left: 0px;
    }


    .navbar-customer-wrapper{
        display: flex;
        flex-direction: column; // pro nome cair pra baixo do cnpj
        font-size: 0.8em;
        // justify-content: space-around;
        // margin-right: 10%;
    }
    
    // .navbar-customer{

        // flex-direction: column;
        // justify-content: space-evenly;
        // text-align: start;
        
    // }

    .navbar-customer span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    // li>a{
    //     color: #181c2e;
    // }

    li{
        transition: all 0.4s;
    }

    .btn-exit {
        text-align: center;
        align-self: end;
        position: absolute;
        top: 0px;
        z-index: 99;
    }

    .nav-item{
        width: 100%;
        color: white;
        // flex-direction: row;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
    }
    
    // .nav-item:not(:first-child){
    //     // margin-left: 0;
    // }
    
    .navbar-nav{
        // display: inline-flex;
        // flex-direction: row;
        // width: 100%;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .btn-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .li-button-content{
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border: none;
    
        &.light-theme{
            color: white;
            background-color: $primary-color-light;
        }
    
        &.dark-theme{
            color: $font-color-dark;
            background-color: $primary-color-dark;
        }
    }
    
    .li-button-content:hover{
        &.light-theme{
            color: $primary-color-light;
            background-color: $secondary-color-light;
        }
    
        &.dark-theme{
            color: $primary-color-dark;
            background-color: $secondary-color-dark;
        }
        transition: all, 0.4s;
    }

    .relatorios-child .li-btn-text {
        display: inline; // Display Relatórios children text
    }
}



@media screen and (max-width: 637px) {
    .navbar-nav{
        display: none;
    }

    .toggle-container {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        left: 50px;
    }

    .li-btn-text{
        display: none;
    }

    .relatorios-child .li-btn-text {
        display: inline; // Display Relatórios children text
    }

    .li-button-content{
    
        &.light-theme{
            color: white;
            background-color: $primary-color-light;
        }
    
        &.dark-theme{
            color: $font-color-dark;
            background-color: $primary-color-dark;
        }
    }
    
    .li-button-content:hover{
        &.light-theme{
            color: $primary-color-light;
            background-color: $secondary-color-light;
        }
    
        &.dark-theme{
            color: $primary-color-dark;
            background-color: $secondary-color-dark;
        }
        transition: all, 0.4s;
    }
}

@media only screen and (max-width: 517px) {
    .navbar-nav{
        display: none;
    }

    .toggle-container {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        left: 50px;
    }

    /* esconde texto do navbar em telas pequenas*/
    .li-btn-text{
        display: none;
    }

    .relatorios-child .li-btn-text {
        display: inline; // Display Relatórios children text
    }

    .li-button-content{
    
        &.light-theme{
            color: white;
            background-color: $primary-color-light;
        }
    
        &.dark-theme{
            color: $font-color-dark;
            background-color: $primary-color-dark;
        }
    }
    
    .li-button-content:hover{
        &.light-theme{
            color: $primary-color-light;
            background-color: $secondary-color-light;
        }
    
        &.dark-theme{
            color: $primary-color-dark;
            background-color: $secondary-color-dark;
        }
        transition: all, 0.4s;
    }
  }



