@import '../../styles/variables';

.header-bg-image{
    display: inline-table;
    width: 100%;
    height: 74.77px; 
    background-image: url("../../assets/financ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.side-bar-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.side-bar-container:first-child{
    height: 100%;
    background-color: lightblue;
}

.li-sidebar{
    width: 100%;
}

.li-sidebar>button{
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    color: white;
}

.p-side-bar{
    display: none;
}

.mobile{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.btn-mobile{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    transition: all .4s;
    color: white;
    border: solid var(--secondary-color) 1px;
    background-color: var(--primary-color);

}

.btn-mobile:hover{
        color: var(--font-color);
        border: solid var(--primary-color) 1px;
        background-color: var(--secondary-color);
}

.transition-slide-down {
    transition: all 0.3s ease-in-out; 
}

.header-bg{
    width: 100%;
    color:white;
    font-weight: bold;
    display: flex;
    height: 5em;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: var(--header-bg);
}

.barra-header{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: var(--primary-color);
}

.li-container{
    height: 40px;
    display: inline-flex;
    width: 100%;
}

.navbar-title{
    display: flex;
    flex-direction: column;
    align-self: start;
    padding-left: 20px;
    padding-top: 15px;
    font-size: x-large;
    z-index: 1;
}

.navbar-title>img{
    width: 260px;
    
}

.header-info-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar-customer-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
    justify-content: center;
    align-items: flex-end;
    
}

.navbar-customer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}

.teste{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    width: fit-content;
    height: 100%;
    display: inline;
    flex-direction: column;
    justify-content: center;
}

.navbar-nav{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: var(--primary-color);
}

.navbar-nav .dropdown-menu{
    position: relative;
    z-index: 9999;
    background-color: var(--primary-color);
    border: solid var(--secondary-color) 1px;
}

.navbar-nav .dropdown-menu-normal{
    position: relative;
    z-index: 9999;
    background-color: var(--primary-color);
    border: solid var(--secondary-color) 1px;
}

.btn-container{ // ??
    align-items: center;
    justify-content: center;
    margin: auto 0;
    // display: flex; - sem efeito
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-content: space-between;
}

.li-button-content{
    /* padding: 5px; */
    height:100%;
    width: 100%;
    color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--primary-color);
}

.li-button-content:hover{
    border-radius: 8px 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: all, 0.4s;
}

.toggle-container {
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #35495a;
  }
  
  input:checked + .slider:before {
    transform: translateX(31px);
  }

  img.img-header:hover{
    cursor: pointer !important;
    z-index: 999999999999999999999999;
  }

//   .nav-link{
//     padding: 0px !important;
//   }

/* Styles for dropdown menu */
    .dropdown-menu {
        inset: 0px auto auto 0px;
        position: absolute;
        margin: 0px;
        transform: translate(202px, 0px);
        background: none;
        border: none;
        padding: 0;
        z-index: 1000; /* Ensure the dropdown menu is above other elements */
    }
    
    .dropdown-menu.show {
        display: block;
    }

    .dropdown-menu-normal {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        z-index: 1000; /* Ensure the dropdown menu is above other elements */
    }
  
    .dropdown-menu-normal.show {
        display: block;
    }

    .dropdown-menu-mobile{
        display: none !important;
        inset: 0px auto auto 0px !important;
        position: absolute !important;
        margin: 0px !important;
        transform: translate(202px, 0px) !important;
    }

    .dropdown-menu-mobile.show{
        display: block !important;
    }

    .dropdown-item {
        display: flex;
        height: 100%;
        width: 100%;
        color: inherit;
        text-decoration: none;
        padding: 0;
        position: relative;
        z-index: 1000;
        align-items: stretch;
        align-content: stretch;
        color: white;
        background-color: var(--primary-color);

    }

    .dropdown-button:hover{
            color: white;
            background-color: var(--secondary-color);
    }
    
    .dropdown-item:hover {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        text-decoration: none !important;
    }

    .navbar-nav .dropdown-menu-normal .dropdown-item {
        text-decoration: none !important;
    }

    .ms-1 .mt-2 .mb-auto .li-btn-text{
        color: white;
        text-decoration: none !important;
    } 

    a{
        text-decoration: none !important;
    }

    .dropdown{
        position: relative;
        height: 100%;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: row;
        padding-left: 10px;
    }
        
    .checkbox-input {
    display: none; /* Hide the default checkbox */
    }
        
    .checkbox-custom {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    border-color: var(--primary-color);

    }
        
    .checkbox-input:checked + .checkbox-custom {
        border-color: var(--secondary-color);
        background-color: var(--secondary-color);
    }

    .checkbox-icon {
    margin-right: 8px;
    }

    .checkbox-label:hover .checkbox-custom {
    border-color: #999; /* Change border color on hover */
    }

    /* Animation example */
    .checkbox-custom {
    transition: background-color 0.3s, border-color 0.3s;
    }

    .li-button-content{
        color: white;
        background-color: var(--primary-color);
    }

    .li-button-content:hover{
        color: var(--font-color);
        background-color: var(--secondary-color);
        transition: all, 0.4s;
    }

    .calendar-icon{
        position: relative;
        right: 28px;
        top: -2px;
        color: var(--secondary-color);

        &.isCheckedCalendar{
            color: var(--primary-color);
        }
        transition: all, 0.4s;
    }

@media screen and (max-width: 1231px){

    .navbar-nav{
        display: none;
    }

    .toggle-container {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        left: 50px;
    }

    .p-side-bar{
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 0;
        width: 15%;
        display: block;
    }

    .li-btn-text{
        display: none
    }

    .a-side-bar{
        width: 50px !important;
        border-radius: 12px;
        border: solid var(--primary-color) 2px !important;
    }

    .a-side-bar:hover{
        border: solid var(--secondary-color) 1px !important;
    }

    .header-bg-image{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .header-bg{
        width: 100%;
        color:white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .navbar-title{
        display: flex;
        flex-direction: column;
        align-self: start;
        padding-left: 0px;
        padding-top: 15px;
        font-size: x-large;
        width: 100%;
        z-index: 1;
        align-content: center;
        align-items: center;
    }

    .navbar-title>img{
        padding-bottom: 15px;
    }
    
    .nav-text{
        margin-left: 0px;
    }

    .navbar-customer-wrapper{
        display: flex;
        flex-direction: column; // pro nome cair pra baixo do cnpj
        font-size: 0.8em;
    }

    .navbar-customer span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    li{
        transition: all 0.4s;
    }

    .btn-exit {
        text-align: center;
        align-self: end;
        position: absolute;
        top: 0px;
        z-index: 99;
    }

    .nav-item{
        width: 100%;
        color: white;
    }
    
    .navbar-nav{
        align-items: center;
        //background-color: rgba(0, 0, 0, 0.5);
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    
    .btn-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .li-button-content{
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border: none;
        color: white;
        background-color: var(--primary-color);
    }
    
    .li-button-content:hover{
        color: var(--primary-color);
        background-color: var(--secondary-color);
        transition: all, 0.4s;
    }

    .relatorios-child .li-btn-text {
        display: inline; // Display Relatórios children text
    }
}



@media screen and (max-width: 637px) {
    .navbar-nav{
        display: none;
    }

    .toggle-container {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        left: 50px;
    }

    .li-btn-text{
        display: none;
    }

    .relatorios-child .li-btn-text {
        display: inline; // Display Relatórios children text
    }

    .li-button-content{
        color: white;
        background-color: var(--primary-color);
    }
    
    .li-button-content:hover{
        color: var(--primary-color);
        background-color: var(--secondary-color);
        transition: all, 0.4s;
    }
}

@media only screen and (max-width: 517px) {
    .navbar-nav{
        display: none;
    }

    .toggle-container {
        display: flex;
        align-items: center;
        padding: 0 5px 0 5px;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        position: relative;
        left: 50px;
    }

    /* esconde texto do navbar em telas pequenas*/
    .li-btn-text{
        display: none;
    }

    .relatorios-child .li-btn-text {
        display: inline; // Display Relatórios children text
    }

    .li-button-content{
        color: white;
        background-color: var(--primary-color);

    }
    
    .li-button-content:hover{
        color: var(--primary-color);
        background-color: var(--secondary-color);
        transition: all, 0.4s;
    }
  }



