

.badge-success {
  background-color: #d4edda;
  color: #155724;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}

.badge-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}

.table-type-openfinance {
  .det-table-global {
    .det-th-global,
    .det-td-vendas-global {
      text-align: center;
    }

    .det-tr-global:nth-child(even) {
      background: color-mix(in srgb, var(--primary-color) 45%, var(--background-color));
    }
  }

  .extrato-valor-positivo {
    color: var(--highlight-color);
    font-weight: bold;
  }

  .extrato-valor-negativo {
    color: rgb(218, 100, 100);
    font-weight: bold;
  }
}
