:root {
  /* Current Theme Colors */
  --primary-color: rgb(10, 61, 112);
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
  /* Light Theme Colors */
  --primary-color-light: rgb(10, 61, 112);
  --secondary-color-light: rgb(153, 204, 51);
  --background-color-light: #fff;
  --font-color-light: rgb(10, 61, 112);
  --header-text-color-light: white;
  --modalidades-border-light: rgb(10, 61, 112);
  --table-background-light: white;
  --table-row-hover-color-light: rgb(153, 204, 51);
  --table-row-hover-bg-light: rgb(10, 61, 112);
  --header-bg-light: rgba(10,61,112,0.945);
  --calendar-cell-color-light: rgb(10, 61, 112);
  --calendar-now-color-light: rgb(153, 204, 51);
  --calendar-neighbor-color-light: #757575;
  --calendar-btn-navigation-color-light: rgb(10, 61, 112);
  --calendar-neighbor-bg-light: rgb(187, 187, 187);
  --sidebar-font-color-light: white;
  --subtitle-light: rgb(10, 61, 112);
  /* Dark Theme Colors */
  --primary-color-dark: rgb(35, 31, 32);
  --secondary-color-dark: darkgray;
  --background-color-dark: rgb(20, 20, 20);
  --font-color-dark: #d3d3d3;
  --header-text-color-dark: black;
  --modalidades-border-dark: rgb(97, 97, 97);
  --table-background-dark: rgb(20, 20, 20);
  --table-row-hover-color-dark: rgb(55, 51, 52);
  --table-row-hover-bg-dark: rgb(97, 97, 97);
  --header-bg-dark: rgba(35,31,32, 0.945);
  --calendar-cell-color-dark: rgb(97, 97, 97);
  --calendar-now-color-dark: white;
  --calendar-neighbor-color-dark: white;
  --calendar-btn-navigation-color-dark: white;
  --calendar-neighbor-bg-dark: black;
  --sidebar-font-color-dark: #d3d3d3;
  --subtitle-dark: darkgray;
  --default-font: Arial, Helvetica, sans-serif;
  --default-background: #fff;
  --default-primary: #000;
  --default-secondary: #4f4f4f;
  --default-font-app: var(--default-font);
}

.vendas-view {
  width: 100%;
  overflow: overlay;
  background-color: var(--background-color);
}

.date-container {
  width: 100%;
  max-width: none;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  padding-bottom: 0;
  flex-direction: column;
}

.span-str {
  color: var(--font-color);
}

.texto-paginacao {
  color: var(--font-color);
}

.table-wrapper {
  height: auto;
  max-height: 400px;
  background-color: var(--background-color);
}

.green {
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 1px #000000;
}

.red {
  color: red;
  text-shadow: 1px 1px 1px #000000;
}

.container-btn-pagina {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
}

.btn-skip {
  width: 10%;
}

.btn-navigate {
  width: 30%;
}

.pagina-atual {
  font-weight: bold;
  align-items: center;
}

.voltar-container {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.select-align-filtro {
  align-content: center !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.select-filtro {
  padding: 7px;
  width: 80%;
  border-radius: 10px;
  border: solid var(--primary-color) 1px;
  color: var(--font-color);
  background-color: var(--background-color);
  text-align: center;
}

.header-tabela-grafico {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  color: var(--font-color);
}

.titulo-grafico {
  margin: 0;
  padding: 0;
}

.total-container-dashboard {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1090px) {
  .btn-navigate {
    width: 20%;
  }
  .header-tabela-grafico {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
  }
}/*# sourceMappingURL=detalhesCredito.css.map */