.content-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.total-container{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #59659e;
    border: solid #7985bb 2px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.75);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.total-container>span{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

.card-title{
    display: flex;
}

.title{
    background-color: #59659e;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.green{
    color: yellowgreen;
}

@media screen and (max-width: 832px){

    .title{
        font-size: 0.9em;
    }

    .total-container{
        font-size: 0.9em;
    }


}