:root {
  /* Current Theme Colors */
  --primary-color: rgb(10, 61, 112);
  --secondary-color: #99cc33;
  --background-color: #fff;
  --font-color: #0a3d70;
  --header-text-color: white;
  --modalidades-border: rgb(10, 61, 112);
  --table-background: white;
  --table-row-hover-color: #99cc33;
  --table-row-hover-bg: rgb(10, 61, 112);
  --header-bg: rgba(10,61,112,0.945);
  --calendar-cell-color: rgb(10, 61, 112);
  --calendar-now-color: rgb(153, 204, 51);
  --calendar-neighbor-color: #757575;
  --calendar-btn-navigation-color: #0a3d70;
  --calendar-neighbor-bg: rgb(187, 187, 187);
  --sidebar-font-color: white;
  --subtitle-color: rgb(10, 61, 112);
  /* Light Theme Colors */
  --primary-color-light: rgb(10, 61, 112);
  --secondary-color-light: rgb(153, 204, 51);
  --background-color-light: #fff;
  --font-color-light: rgb(10, 61, 112);
  --header-text-color-light: white;
  --modalidades-border-light: rgb(10, 61, 112);
  --table-background-light: white;
  --table-row-hover-color-light: rgb(153, 204, 51);
  --table-row-hover-bg-light: rgb(10, 61, 112);
  --header-bg-light: rgba(10,61,112,0.945);
  --calendar-cell-color-light: rgb(10, 61, 112);
  --calendar-now-color-light: rgb(153, 204, 51);
  --calendar-neighbor-color-light: #757575;
  --calendar-btn-navigation-color-light: rgb(10, 61, 112);
  --calendar-neighbor-bg-light: rgb(187, 187, 187);
  --sidebar-font-color-light: white;
  --subtitle-light: rgb(10, 61, 112);
  /* Dark Theme Colors */
  --primary-color-dark: rgb(35, 31, 32);
  --secondary-color-dark: darkgray;
  --background-color-dark: rgb(20, 20, 20);
  --font-color-dark: #d3d3d3;
  --header-text-color-dark: black;
  --modalidades-border-dark: rgb(97, 97, 97);
  --table-background-dark: rgb(20, 20, 20);
  --table-row-hover-color-dark: rgb(55, 51, 52);
  --table-row-hover-bg-dark: rgb(97, 97, 97);
  --header-bg-dark: rgba(35,31,32, 0.945);
  --calendar-cell-color-dark: rgb(97, 97, 97);
  --calendar-now-color-dark: white;
  --calendar-neighbor-color-dark: rgb(26, 26, 26);
  --calendar-btn-navigation-color-dark: white;
  --calendar-neighbor-bg-dark: black;
  --sidebar-font-color-dark: #d3d3d3;
  --subtitle-dark: darkgray;
  --default-font: Arial, Helvetica, sans-serif;
  --default-background: #fff;
  --default-primary: #000;
  --default-secondary: #4f4f4f;
  --default-font-app: var(--default-font);
}

* {
  font-family: var(--default-font-app);
  box-sizing: border-box; /* Add this line */
  margin: 0;
  padding: 0;
}

html, body, .app, #root, .appPage, .app-page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  display: contents;
  transition: all 0.4s;
  background-color: var(--background-color);
}

h5 {
  color: var(--subtitle-color);
  --bs-heading-color: var(--subtitle-color);
}

h6 {
  color: var(--subtitle-color);
  --bs-heading-color: var(--subtitle-color);
}

.appPage, .app-page {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: var(--background-color);
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

li, ul {
  list-style-type: none;
}

td, th {
  padding: 0;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
}

.drop-shadow {
  max-width: 100%;
  filter: drop-shadow(5px 5px 10px #000);
}

::-webkit-scrollbar-track {
  background-color: red;
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Customize the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

table {
  line-height: 1.5em;
  width: 100%; /* Ensure tables do not overflow */
}

/* Optional: Apply flexbox to manage layout and prevent overflow */
body, .app, #root, .appPage, .app-page {
  display: contents;
  flex-direction: column;
  align-items: stretch;
  overflow-y: overlay;
}

@media (max-width: 412px) {
  table {
    table-layout: auto !important; /* Adjust cell width based on content */
    border-collapse: separate !important; /* Use separate border model to allow cell spacing */
    border-spacing: 5px !important; /* Adjust the spacing between cells */
  }
  table td, table th {
    padding: 2px 5px !important; /* Small padding for spacing */
    white-space: nowrap !important; /* Prevent text wrapping */
    min-width: auto !important;
  }
  table th, table td {
    border: 1px solid var(--primary-color); /* Optional: border color */
    text-align: left !important; /* Adjust text alignment as needed */
  }
  table th {
    background-color: var(--secondary-color); /* Optional: header background color */
    color: white; /* Optional: header text color */
  }
}/*# sourceMappingURL=index.css.map */