@import './styles/variables';

*{
  font-family: $default-font;
}

html, body, .app, #root, .appPage, .app-page{
  height: 100%;
  width: 100%;
  font-family: $default-font;
  overflow-x: hidden;
  display: contents;
  transition: all .4s;
  
   &.light-theme{
    background-color: $background-color-light;
   }

   &.dark-theme{
    background-color: $background-color-dark;
   }
}

h5{
  &.light-theme{
    font-weight: bold;
    color: $font-color-light;
  }

  &.dark-theme{
    font-weight: bold;
    color: $font-color-dark;
  }
}

h6{
  &.light-theme{
    font-weight: 400;
    color: $font-color-light;
  }

  &.dark-theme{
    font-weight: 400;
    color: $font-color-dark;
  }
}

.appPage, .app-page{
  min-height: 100vh;
  font-family: sans-serif;

  &.light-theme{
    background-color: $background-color-light;
  }

  &.dark-theme{
    background-color: $background-color-dark;
  }
  
}

code {
  font-family: $default-font;
}
a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

li, ul{
  list-style-type: none;
}

td, th{
  padding: 0;
}

.text-shadow{
  text-shadow: 1px 1px 2px rgba(21,21,21,0.2);
}

.drop-shadow{
  max-width: 100%;
  filter: drop-shadow(5px 5px 10px #000);
}


::-webkit-scrollbar-track {
  background-color: red;
}

/* Customize the thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Customize the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

table{
  line-height: 1.5em;
}