.subtable {
    --bs-table-hover-bg: rgba(0, 0, 0, 0.1) !important;
    &:hover  {
        color: var(--secondary-color-light) !important;
    }
}

.mb-1{
    color: var(--font-color) !important;
    &:hover {
        color: var(--font-color) !important;
    }
}